h1{
    text-transform: uppercase;
    font-family: monospace;
    text-align:center;
    font-weight:100;
    text-decoration:plum wavy underline;
    letter-spacing:20px;
    font-size:40px;
}