body{
    background-color: white;
}

img{
    width: 30%;
    padding: 1.45%;
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width : 28.5%;
    position: relative;
    left: 4%;
}
