body {
    background-color: powderblue;
    height: 100%;
    width: 100%;
    margin: 0;
}

section{
    background-color: red;
    width: 75%;
    height: 75%;
    position: absolute;
}

div{
    background-color: blue;
    width: 50%;
    height: 50%;
}