body{
    background-color: palegoldenrod;
    margin:0px;
    border: 0px;
}

div{
    height:200px;
    width:200px;
    margin: 10px;
}

.red{
    background-color: red;
    position:relative;
    left:400px;
}

.green{
    background-color: green;
    position:relative;
    left:199px;
    bottom:210px;
}

.blue{
    background-color: blue;
    position:relative;
    bottom:420px;
    right:2px;
}