<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>add_user</servlet-name>
        <servlet-class>com.controller.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add_user</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>view_user</servlet-name>
        <servlet-class>com.controller.ViewUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>view_user</servlet-name>
        <url-pattern>/view_user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update_user</servlet-name>
        <servlet-class>com.controller.UpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_user</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>remove_user</servlet-name>
        <servlet-class>com.controller.RemoveUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remove_user</servlet-name>
        <url-pattern>/remove_user</url-pattern>
    </servlet-mapping>
</web-app>
